In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/imc_merged.csv')

Checking the time difference between the first and second PCR collections

In [3]:
df1 = df[df['cycletime1'].isnull()]
df2 = df1[df1['cycletime2'].notnull()]

In [4]:
df2[['SpecimenCollectionDate1', 'SpecimenCollectionDate2']]

    SpecimenCollectionDate1 SpecimenCollectionDate2
27               2015-02-21              2015-02-21
33               2015-02-28              2015-03-02
70               2015-06-17              2015-06-18
73               2014-12-07              2014-12-11
91               2014-12-24              2014-12-24
92               2014-12-26              2014-12-27
104              2014-12-04              2014-12-22
129              2014-12-23              2014-12-27
130              2014-12-24              2014-12-26
139              2014-12-21              2014-12-27
141              2014-12-23              2014-12-29
148              2015-03-08              2015-03-15
149              2015-02-27              2015-03-15
151              2015-03-05              2015-03-15
155              2015-03-08              2015-03-16
158              2015-03-10              2015-03-12
159              2015-03-10              2015-03-10
178              2015-01-11              2015-01-13
202              2015-02-20              2015-02-25
210              2015-02-22              2015-03-04
212              2015-02-22              2015-02-23
215              2015-02-23              2015-02-25
216              2015-02-23              2015-02-25
219              2015-02-24              2015-02-25
243              2015-02-25              2015-03-03
248              2015-02-22              2015-03-03
249              2015-02-26              2015-03-08
287              2014-10-01              2014-10-05
291              2014-10-03              2014-10-04
337              2014-10-07              2014-10-27
389              2014-11-12              2014-11-14
390              2014-11-12              2014-11-14
410              2014-11-19              2014-11-21
437              2015-09-06              2015-09-09
449              2015-06-06              2015-06-08
450              2015-06-06              2015-06-09
459              2015-06-06              2015-06-09

In [5]:
df2[['SpecimenCollectionDate1', 'SpecimenCollectionDate2']].to_csv('dates.csv')

In [6]:
pd.to_datetime(df2['SpecimenCollectionDate2'], infer_datetime_format=True) - pd.to_datetime(df2['SpecimenCollectionDate1'], infer_datetime_format=True)

27     0 days
33     2 days
70     1 days
73     4 days
91     0 days
92     1 days
104   18 days
129    4 days
130    2 days
139    6 days
141    6 days
148    7 days
149   16 days
151   10 days
155    8 days
158    2 days
159    0 days
178    2 days
202    5 days
210   10 days
212    1 days
215    2 days
216    2 days
219    1 days
243    6 days
248    9 days
249   10 days
287    4 days
291    1 days
337   20 days
389    2 days
390    2 days
410    2 days
437    3 days
449    2 days
450    3 days
459    3 days
dtype: timedelta64[ns]